body{font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;margin:0;}
a{color:#227CE8;}
p code,li code{background-color:#F9F9F9;border:1px solid #eee;font-size:12px;-webkit-border-radius:4px;-moz-border-radius:4px;padding:2px 3px;}
hr{border:0;height:1px;background-color:#ccc;margin:2em 1em;}
.content{margin-left:110px;width:650px;margin-bottom:50px;}
.content ul{margin-left:-10px;}
.content li{margin-bottom:10px;color:#222;list-style-type:square;}
.related{margin-top:10px;}
.related ul{margin:0;padding:0;}
.related li{font-size:15px;list-style:none;color:#777;border-bottom:1px solid #eee;margin:0;padding:5px 3px;}
.related li span{float:right;}
.related a:hover{text-decoration:underline;}
h1,h2,h3,h4{color:#333;font-weight:400;border-bottom:1px solid #ccc;}
h1 a,h2 a,h3 a,h4 a{color:#111;text-decoration:none;}
h1{font-size:2em;margin-top:18px;margin-bottom:.15em;}
h2{font-size:1.7em;margin-bottom:15px;}
h3{color:#777;font-size:1.3em;padding-bottom:5px;margin-bottom:10px;}
#header{position:fixed;left:15px;top:15px;width:80px;}
#header .avatar{margin-left:2px;-webkit-border-radius:5px;-moz-border-radius:5px;-webkit-box-shadow:0 0 15px #ccc;opacity:.8;}
#header .avatar:hover{opacity:1px;}
#header #me{text-transform:uppercase;margin:10px 0 20px;}
#header #pei{padding-left:1px;font-size:22px;letter-spacing:1px;color:#666;}
#header #pei:hover{color:#000;}
#header #qing{font-size:22px;font-weight:700;letter-spacing:1px;color:#000;}
#header .site img{border:0;padding:0 3px;}
#header #mousing{font-size:12px;color:#999;padding-left:2px;letter-spacing:1px;}
#header #sections{margin:25px 0 0 -15px;}
#header #sections div{margin-bottom:7px;}
#header #sections a{background-color:#000;color:#fff;font-weight:700;font-size:14px;padding:3px 5px;}
#header #sections a:hover{color:#ccc;}
#post{padding-bottom:30px;margin-bottom:30px;}
#post ul{font-size:15px;margin:20px 20px 20px 0;}
#post li{line-height:1.4em;margin-bottom:1em;color:#222;list-style-type:square;}
#post li code{border:1px solid #ccc;}
#post p{font-size:16px;margin-top:0;margin-bottom:1.2em;line-height:1.7em;}
#post img{display:block;margin-left:auto;margin-right:auto;max-width:610px;}
#post img.noclip{max-width:650px !important;-webkit-box-shadow:none;}
#post .aside{background-color:#eee;font-size:14px;line-height:1.6em;margin:5px 0 15px;padding:14px;}
#post .authoring{margin-bottom:17px;padding-left:0;font-size:17px;color:#777;}
#post blockquote{font-style:italic;font-size:14px;color:#444;margin:1em 1em 0;padding:.25em 1em;}
#post blockquote cite:before{content:'— ';}
#post blockquote cite{display:block;margin-top:.5em;text-align:right;color:#111;font-style:normal;}
#whoring{font-size:12px;}
#whoring img{position:relative;float:left;margin:-2px auto 0;padding:0 4px 0 0;border-radius:0px;}
/*BOASTFUL*/
#boastful{margin:30px 0 7em;}
#boastful .twitter-share-button{float:right;padding-top:3px;margin-right:13px;}
.boastful{display:inline;}
.boastful img{border:0;width:32px;height:32px;display:inline !important;-webkit-border-radius:7px;-moz-border-radius:7px;margin:1px 2px;}
.boastful .boastful_pointer{position:absolute;z-index:999;left:-9999px;opacity:.7;display:none;width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #000;border-top:0;}
.boastful .boastful_tweet{position:absolute;z-index:999;left:-9999px;background-color:#222;opacity:.8;width:250px;font-size:11px;text-shadow:1px 1px 0 #000;color:#eee;-webkit-border-radius:7px;-moz-border-radius:7px;padding:5px;}
.boastful .boastful_handle{font-size:13px;font-weight:700;}
a:hover,.related a,#header a{text-decoration:none;}