/* iPad */
/* For general iPad layouts */
@media only screen and (device-width: 768px) {
#outer-container {
width:100%;
margin: 0 auto;
}

body {
-webkit-overflow-scrolling: touch;
}

.content {
width:auto;
padding:1em;
}

#header .site {
padding-right: 1em;
}

#post p{
font-size: 1.2em;
}

#post p a {font-size: 1em;}

h1,h2,h3,h4 {
font-size:2em;
}

h1 a,h2 a,h3 a,h4 a {
font-size:1em;
}

#whoring {
font-size:.9em;
}

.related li {
font-size:1.5em;
}

.related li a{
font-size:1em;
}

}

/* For portrait layouts only */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {}

/* For landscape layouts only */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {}
