/* iPhone */
@media screen and (max-device-width:480px) {
* {
margin: 0;
padding: 0;
}

html, pre, code {
-webkit-text-size-adjust: 200%;
}

#forkme {
display: none;
}

#outer-container {
width:100%;
margin: 0 auto;
}

body {
-webkit-overflow-scrolling: touch;
}

.content {
width:auto;
padding:1em;
}

.content .copy {
line-height:3em;
}

#header {
position:static;
padding-bottom:25px;
}
	
#header .site {
margin-right: 1em;
}
	
#header .avatar {
width:75px;
height:75px;
margin-right:5px;
}
	
#post p{
font-size: 1.2em;
}
	
#post p a {font-size: 1em;}
	
h1,h2,h3,h4 {
font-size:2em;
}

h1 a,h2 a,h3 a,h4 a {
font-size:1em;
}

#whoring {
font-size:.9em;
}

.related li {
font-size:1.5em;
}

.related li a{
font-size:1em;
}

}