@media print{
    body,.content li,.related li,h1,h2,h3,h4,#header #pei,#header #qing,#post li,#post .authoring,#post blockquote,#post blockquote cite {
	color:#000!important
	}

	a,h1 a,h2 a,h3 a,h4 a {
	color:#000!important;
	text-decoration:none!important
	}
}