---
layout: page
title: "Home"
---

<!-- About me
	================================================== -->
<div class="jumbotron masthead">
<div class="inner">
<h2>Hi, I'm</h2>
<h1><span class="dynamo" data-lines="Qīng Péi,卿培" data-center="true">QING Pei</span>,</h1>
<h2>a.k.a.</h2><h1>edwardtoday.</h1>
<p>I am a research assistant at the Department of Computing, <a href="http://www.polyu.edu.hk/" title="香港理工大學">The Hong Kong Polytechnic University</a>. My supervisor is <a href="http://www4.comp.polyu.edu.hk/~csdzhang/" title="张大鹏">David Zhang</a>. I am associated with <a href="http://www4.comp.polyu.edu.hk/~biometrics/" title="人體生物特徵識別研究中心">Biometrics Research Center</a> at HKPU. <a href="/about/" class="btn">More about me</a></p>
</div>
</div>
<hr class="soften">
<div class="row">
<div class="span5 offset1">{% include recent_posts.html %}</div>
<div class="span5">{% include recent_activities.html %}</div>
</div>
