---
layout: home
title: "Home"
---
<!-- About me==================================================-->
<div class="content">
  <div class="hero">
    <div class="hero-titles">
      <h1 class="hero-site"><span width=600px class="dynamo" data-lines="QING Pei,卿培" data-center="true">edwardtoday</span></h1>
      <h2 class="hero-tagline">Software engineer at Shanghai.</h2>
    </div>
  </div>
  <div class="marketing l-wrap pure-g-r">
    <div class="content pure-u-1 pure-u-sm-1-2 pure-u-xl-1-2">
      <h3 class="marketing-header">Recent Posts</h3>
      {% include recent_posts.html %}
    </div>
    <div class="content pure-u-1 pure-u-sm-1-2 pure-u-xl-1-2">
      <h3 class="marketing-header">Recent Activities</h3>
      {% include recent_activities.html %}
    </div>
  </div>
</div>
