<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	maxImageWidth="1280"
	maxImageHeight="960"
	imageQuality="80"
	thumbWidth="85"
	thumbHeight="85"
	thumbQuality="90"
	useFlickr="false"
	resizeOnImport="true"
	cropToFit="false"
	galleryTitle="玉渊潭"

>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/images/01.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/thumbs/01.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/images/01.jpg"
	linkTarget="_blank">
    <title><![CDATA[01]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/images/02.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/thumbs/02.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/images/02.jpg"
	linkTarget="_blank">
    <title><![CDATA[02]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/images/03.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/thumbs/03.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/images/03.jpg"
	linkTarget="_blank">
    <title><![CDATA[03]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/images/04.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/thumbs/04.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/images/04.jpg"
	linkTarget="_blank">
    <title><![CDATA[04]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/images/05.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/thumbs/05.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/images/05.jpg"
	linkTarget="_blank">
    <title><![CDATA[05]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/images/06.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/thumbs/06.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/images/06.jpg"
	linkTarget="_blank">
    <title><![CDATA[06]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/images/07.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/thumbs/07.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/images/07.jpg"
	linkTarget="_blank">
    <title><![CDATA[07]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/images/08.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/thumbs/08.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/images/08.jpg"
	linkTarget="_blank">
    <title><![CDATA[08]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/images/09.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/thumbs/09.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/images/09.jpg"
	linkTarget="_blank">
    <title><![CDATA[09]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/images/10.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/thumbs/10.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/images/10.jpg"
	linkTarget="_blank">
    <title><![CDATA[10]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/images/11.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/thumbs/11.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/YuyuantanPark/images/11.jpg"
	linkTarget="_blank">
    <title><![CDATA[11]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>