<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="true"
	maxImageWidth="1280"
	maxImageHeight="800"
	imageQuality="80"
	thumbWidth="85"
	thumbHeight="85"
	thumbQuality="90"
	useFlickr="false"
	cropToFit="false"
	galleryTitle="798 Art Zone"

>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/01.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/thumbs/01.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/01.jpg"
	linkTarget="_blank">
    <title><![CDATA[01]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/02.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/thumbs/02.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/02.jpg"
	linkTarget="_blank">
    <title><![CDATA[02]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/03.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/thumbs/03.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/03.jpg"
	linkTarget="_blank">
    <title><![CDATA[03]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/04.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/thumbs/04.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/04.jpg"
	linkTarget="_blank">
    <title><![CDATA[04]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/05.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/thumbs/05.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/05.jpg"
	linkTarget="_blank">
    <title><![CDATA[05]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/06.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/thumbs/06.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/06.jpg"
	linkTarget="_blank">
    <title><![CDATA[06]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/07.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/thumbs/07.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/07.jpg"
	linkTarget="_blank">
    <title><![CDATA[07]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/08.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/thumbs/08.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/08.jpg"
	linkTarget="_blank">
    <title><![CDATA[08]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/09.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/thumbs/09.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/09.jpg"
	linkTarget="_blank">
    <title><![CDATA[09]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/10.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/thumbs/10.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/10.jpg"
	linkTarget="_blank">
    <title><![CDATA[10]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/11.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/thumbs/11.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/11.jpg"
	linkTarget="_blank">
    <title><![CDATA[11]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/12.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/thumbs/12.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/12.jpg"
	linkTarget="_blank">
    <title><![CDATA[12]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/13.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/thumbs/13.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/13.jpg"
	linkTarget="_blank">
    <title><![CDATA[13]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/14.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/thumbs/14.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/14.jpg"
	linkTarget="_blank">
    <title><![CDATA[14]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/15.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/thumbs/15.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/15.jpg"
	linkTarget="_blank">
    <title><![CDATA[15]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/16.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/thumbs/16.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/798ArtZone/images/16.jpg"
	linkTarget="_blank">
    <title><![CDATA[16]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>