<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	maxImageWidth="1280"
	maxImageHeight="800"
	imageQuality="80"
	thumbWidth="85"
	thumbHeight="85"
	thumbQuality="90"
	useFlickr="false"
	resizeOnImport="true"
	cropToFit="false"
	galleryTitle="Tsinghua Part 1"

>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/01.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/01.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/01.jpg"
	linkTarget="_blank">
    <title><![CDATA[01]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/02.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/02.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/02.jpg"
	linkTarget="_blank">
    <title><![CDATA[02]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/03.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/03.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/03.jpg"
	linkTarget="_blank">
    <title><![CDATA[03]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/04.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/04.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/04.jpg"
	linkTarget="_blank">
    <title><![CDATA[04]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/05.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/05.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/05.jpg"
	linkTarget="_blank">
    <title><![CDATA[05]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/06.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/06.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/06.jpg"
	linkTarget="_blank">
    <title><![CDATA[06]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/07.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/07.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/07.jpg"
	linkTarget="_blank">
    <title><![CDATA[07]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/08.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/08.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/08.jpg"
	linkTarget="_blank">
    <title><![CDATA[08]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/09.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/09.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/09.jpg"
	linkTarget="_blank">
    <title><![CDATA[09]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/10.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/10.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/10.jpg"
	linkTarget="_blank">
    <title><![CDATA[10]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/11.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/11.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/11.jpg"
	linkTarget="_blank">
    <title><![CDATA[11]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/12.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/12.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/12.jpg"
	linkTarget="_blank">
    <title><![CDATA[12]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/13.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/13.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/13.jpg"
	linkTarget="_blank">
    <title><![CDATA[13]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/14.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/14.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/14.jpg"
	linkTarget="_blank">
    <title><![CDATA[14]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/15.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/15.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/15.jpg"
	linkTarget="_blank">
    <title><![CDATA[15]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/16.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/16.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/16.jpg"
	linkTarget="_blank">
    <title><![CDATA[16]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/17.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/17.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/17.jpg"
	linkTarget="_blank">
    <title><![CDATA[17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/18.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/18.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/18.jpg"
	linkTarget="_blank">
    <title><![CDATA[18]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/19.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/19.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/19.jpg"
	linkTarget="_blank">
    <title><![CDATA[19]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/20.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/20.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/20.jpg"
	linkTarget="_blank">
    <title><![CDATA[20]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/21.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/21.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/21.jpg"
	linkTarget="_blank">
    <title><![CDATA[21]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/22.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/22.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/22.jpg"
	linkTarget="_blank">
    <title><![CDATA[22]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/23.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/23.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/23.jpg"
	linkTarget="_blank">
    <title><![CDATA[23]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/24.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/24.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/24.jpg"
	linkTarget="_blank">
    <title><![CDATA[24]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/25.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/25.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/25.jpg"
	linkTarget="_blank">
    <title><![CDATA[25]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/26.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/26.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/26.jpg"
	linkTarget="_blank">
    <title><![CDATA[26]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/27.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/27.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/27.jpg"
	linkTarget="_blank">
    <title><![CDATA[27]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/28.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/28.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/28.jpg"
	linkTarget="_blank">
    <title><![CDATA[28]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/29.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/29.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/29.jpg"
	linkTarget="_blank">
    <title><![CDATA[29]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/30.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/30.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/30.jpg"
	linkTarget="_blank">
    <title><![CDATA[30]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/31.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/31.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/31.jpg"
	linkTarget="_blank">
    <title><![CDATA[31]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/32.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/32.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/32.jpg"
	linkTarget="_blank">
    <title><![CDATA[32]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/33.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/thumbs/33.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua1/images/33.jpg"
	linkTarget="_blank">
    <title><![CDATA[33]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>