---
layout: layout
title: "QING Pei - Gallery"
---
{% include nav_gallery.html %}

<section>
<div class="page-header">
	<h1>My Photos</h1>
</div>

<div class="row">
	<div class="span4">
		{% include comingsoon.html %}
	</div>
</div>
<!--
<ul class="thumbnails">
	<li class="span6">
		<img src="http://placehold.it/520x360" alt="">
      <h5>Thumbnail label</h5>
      <p>Thumbnail caption right here...</p>
	</li>
	<li class="span6">
		<img src="http://placehold.it/520x360" alt="">
      <h5>Thumbnail label</h5>
      <p>Thumbnail caption right here...</p>
	</li>
	<li class="span6">
		<img src="http://placehold.it/520x360" alt="">
      <h5>Thumbnail label</h5>
      <p>Thumbnail caption right here...</p>
	</li>
	<li class="span6">
		<img src="http://placehold.it/520x360" alt="">
      <h5>Thumbnail label</h5>
      <p>Thumbnail caption right here...</p>
	</li>
</ul> -->

</section>
