<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ page.title }} - QING Pei</title>
{% include meta_common.html %}
{% include icons_in_header.html %}
<!-- Stylesheets -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.4.2/pure-min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css"/>
<!--[if lte IE 8]>
<link rel="stylesheet" href="/css/style-ie.css">
<![endif]-->
<!--[if gt IE 8]><!-->
<link rel="stylesheet" href="/css/style.css">
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
<![endif]-->
<script type="text/javascript" src="//use.typekit.net/eut2zrk.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>