<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ page.title }} - QING Pei</title>
{% include meta_common.html %}
{% include icons_in_header.html %}
<link rel="stylesheet" href="/js/mediaelement/mediaelementplayer.min.css"/>

<!-- Bootstrap -->
<!-- <link href="/css/bootstrap.min.css" rel="stylesheet"> -->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<link rel="stylesheet" href="/css/font-awesome.css"/>
<link rel="stylesheet" href="/css/custom.css"/>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="/js/mediaelement/mediaelement-and-player.min.js"></script>
