<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ page.title }} - QING Pei</title>
{% include meta_common.html %}
{% include icons_in_header.html %}
<!-- Stylesheets -->
<link rel="stylesheet" href="http://cdn.staticfile.org/pure/0.4.2/pure-min.css">
<link rel="stylesheet" href="//libs.baidu.com/fontawesome/4.0.3/css/font-awesome.min.css">
<!--[if lte IE 8]>
<link rel="stylesheet" href="/css/style-ie.css">
<![endif]-->
<!--[if gt IE 8]><!-->
<link rel="stylesheet" href="/css/style.css">
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="http://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<![endif]-->
<script type="text/javascript" src="//use.typekit.net/eut2zrk.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
