<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<!-- <img class="logo" height="32px" src="/images/brand.png" alt="qingpei.me" /> -->
				QING Pei
			</a>
		</div>
		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
			<ul class="nav navbar-nav">
				<li><a href="/index.html"><i class="fa fa-home"></i> Home</a></li>
				<li><a href="/blog/"><i class="fa fa-book"></i> Blog</a></li>
				<li><a href="/gallery/"><i class="fa fa-camera-retro"></i> Gallery</a></li>
				<li><a href="/project/"><i class="fa fa-tasks"></i> Project</a></li>
				<!-- <li><a href="/talks/"><i class="fa fa-lg"></i> Talks</a></li> -->
				<li><a href="/song/"><i class="fa fa-music"></i> Songs</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/about/"><i class="fa fa-user"></i> About</a></li>
			</ul>
		</nav>
	</div>
</header>
