<div id="layout">
<a href="#menu" id="menuLink" class="menu-link">
<span></span>
</a>
<div id="menu">
  <div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading" href="/">QING Pei</a>
    <ul>
      <li class=" ">
        <a href="/blog/"><i class="fa fa-book"></i> Blog</a>
      </li>
      <li class=" ">
        <a href="/gallery/"><i class="fa fa-camera-retro"></i> Gallery</a>
      </li>
      <li class=" ">
        <a href="/project/"><i class="fa fa-tasks"></i> Projects</a>
      </li>
      <li class=" ">
        <a href="/talks/"><i class="fa fa-bullhorn"></i> Talks</a>
      </li>
      <li class=" ">
        <a href="/notes/"><i class="fa fa-pencil"></i> Notes</a>
      </li>
      <li class=" ">
        <a href="/song/"><i class="fa fa-music"></i> Songs</a>
      </li>
      <li class="menu-item-divided ">
        <a href="/about/"><i class="fa fa-user"></i> About</a>
      </li>
    </ul>
  </div>
</div>
