{% include nav_bar_pre.html %}
<li class=""><a href="/index.html"><i class="icon-home"></i> Home</a></li>
<li class=""><a href="/about/"><i class="icon-user"></i> About</a></li>
<li class=""><a href="/blog/"><i class="icon-book"></i> Blog</a></li>
<li class=""><a href="/gallery/"><i class="icon-camera-retro"></i> Gallery</a></li>
<li class=""><a href="/project/"><i class="icon-tasks"></i> Project</a></li>
<li class=""><a href="/song/"><i class="icon-music"></i> Songs</a></li>
{% include nav_bar_post.html %}
