<!-- Le javascript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script async src="//cdnjscn.b0.upaiyun.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script async src="http://cdn.jsdelivr.net/dynamo/0.1/dynamo.min.js"></script>
<script async src="http://rawgit.com/edwardtoday/mymaxim/master/mymaxim.js"></script>
<script async src="/js/custom.min.js"></script>
<script async src="//cdnjscn.b0.upaiyun.com/libs/instantclick/3.0.1/instantclick.min.js" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script>
