<!-- Le javascript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/jquery-2.1.4.min.js"></script>
<script async src="http://rawgit.com/edwardtoday/mymaxim/master/mymaxim.js"></script>

<!-- The following scripts are combined and compressed into combined.min.js -->
<!-- <script async src="/js/dynamo.js"></script> -->
<!-- <script async src="/js/custom.js"></script> -->
<!-- <script src="/js/pangu.js"></script> -->
<script async src="/js/combined.min.js"></script>
<script async src="/js/instantclick.min.js" data-no-instant></script>

<!-- The following function calls are moved to window.load -->
<!--<script>pangu.page_spacing();</script>
<script data-no-instant>InstantClick.init();</script>
 -->

<script type="text/javascript">
	$(window).load(function(){
		pangu.page_spacing();
		InstantClick.init();
	})
</script>