<!-- Load Typekit fonts -->
<!-- <script type="text/javascript" src="http://use.typekit.com/eut2zrk.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
 -->

<!-- Async load -->
<!-- from http://blog.typekit.com/2011/05/25/loading-typekit-fonts-asynchronously/ -->

<script type="text/javascript">
  TypekitConfig = {
    kitId: 'eut2zrk'
  };
  (function() {
    var tk = document.createElement('script');
    tk.src = '//use.typekit.com/' + TypekitConfig.kitId + '.js';
    tk.type = 'text/javascript';
    tk.async = 'true';
    tk.onload = tk.onreadystatechange = function() {
      var rs = this.readyState;
      if (rs && rs != 'complete' && rs != 'loaded') return;
      try { Typekit.load(TypekitConfig); } catch (e) {}
    };
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(tk, s);
  })();
</script>
