<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

	maxImageWidth="1280"
	maxImageHeight="960"
	imageQuality="80"
	thumbWidth="85"
	thumbHeight="85"
	thumbQuality="90"
	useFlickr="false"
	resizeOnImport="true"
	cropToFit="false"
	galleryTitle="On My Way"
	indexPageName="index.html"

>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/onmyway/images/01.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/onmyway/thumbs/01.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/onmyway/images/01.jpg"
	linkTarget="_blank">
    <title><![CDATA[01]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/onmyway/images/02.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/onmyway/thumbs/02.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/onmyway/images/02.jpg"
	linkTarget="_blank">
    <title><![CDATA[02]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/onmyway/images/03.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/onmyway/thumbs/03.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/onmyway/images/03.jpg"
	linkTarget="_blank">
    <title><![CDATA[03]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/onmyway/images/04.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/onmyway/thumbs/04.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/onmyway/images/04.jpg"
	linkTarget="_blank">
    <title><![CDATA[04]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/onmyway/images/05.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/onmyway/thumbs/05.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/onmyway/images/05.jpg"
	linkTarget="_blank">
    <title><![CDATA[05]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/onmyway/images/06.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/onmyway/thumbs/06.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/onmyway/images/06.jpg"
	linkTarget="_blank">
    <title><![CDATA[06]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/onmyway/images/07.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/onmyway/thumbs/07.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/onmyway/images/07.jpg"
	linkTarget="_blank">
    <title><![CDATA[07]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>
