<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	maxImageWidth="1280"
	maxImageHeight="800"
	imageQuality="80"
	thumbWidth="85"
	thumbHeight="85"
	thumbQuality="90"
	useFlickr="false"
	resizeOnImport="true"
	cropToFit="false"
	galleryTitle="Tsinghua Part 2"

>
  <image imageURL="images/34.jpg"
	thumbURL="thumbs/34.jpg"
	linkURL="images/34.jpg"
	linkTarget="_blank">
    <title><![CDATA[34]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/35.jpg"
	thumbURL="thumbs/35.jpg"
	linkURL="images/35.jpg"
	linkTarget="_blank">
    <title><![CDATA[35]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/36.jpg"
	thumbURL="thumbs/36.jpg"
	linkURL="images/36.jpg"
	linkTarget="_blank">
    <title><![CDATA[36]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/37.jpg"
	thumbURL="thumbs/37.jpg"
	linkURL="images/37.jpg"
	linkTarget="_blank">
    <title><![CDATA[37]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/38.jpg"
	thumbURL="thumbs/38.jpg"
	linkURL="images/38.jpg"
	linkTarget="_blank">
    <title><![CDATA[38]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/39.jpg"
	thumbURL="thumbs/39.jpg"
	linkURL="images/39.jpg"
	linkTarget="_blank">
    <title><![CDATA[39]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/40.jpg"
	thumbURL="thumbs/40.jpg"
	linkURL="images/40.jpg"
	linkTarget="_blank">
    <title><![CDATA[40]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/41.jpg"
	thumbURL="thumbs/41.jpg"
	linkURL="images/41.jpg"
	linkTarget="_blank">
    <title><![CDATA[41]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/42.jpg"
	thumbURL="thumbs/42.jpg"
	linkURL="images/42.jpg"
	linkTarget="_blank">
    <title><![CDATA[42]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/43.jpg"
	thumbURL="thumbs/43.jpg"
	linkURL="images/43.jpg"
	linkTarget="_blank">
    <title><![CDATA[43]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/44.jpg"
	thumbURL="thumbs/44.jpg"
	linkURL="images/44.jpg"
	linkTarget="_blank">
    <title><![CDATA[44]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/45.jpg"
	thumbURL="thumbs/45.jpg"
	linkURL="images/45.jpg"
	linkTarget="_blank">
    <title><![CDATA[45]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/46.jpg"
	thumbURL="thumbs/46.jpg"
	linkURL="images/46.jpg"
	linkTarget="_blank">
    <title><![CDATA[46]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/47.jpg"
	thumbURL="thumbs/47.jpg"
	linkURL="images/47.jpg"
	linkTarget="_blank">
    <title><![CDATA[47]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/48.jpg"
	thumbURL="thumbs/48.jpg"
	linkURL="images/48.jpg"
	linkTarget="_blank">
    <title><![CDATA[48]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/49.jpg"
	thumbURL="thumbs/49.jpg"
	linkURL="images/49.jpg"
	linkTarget="_blank">
    <title><![CDATA[49]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/50.jpg"
	thumbURL="thumbs/50.jpg"
	linkURL="images/50.jpg"
	linkTarget="_blank">
    <title><![CDATA[50]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/51.jpg"
	thumbURL="thumbs/51.jpg"
	linkURL="images/51.jpg"
	linkTarget="_blank">
    <title><![CDATA[51]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/52.jpg"
	thumbURL="thumbs/52.jpg"
	linkURL="images/52.jpg"
	linkTarget="_blank">
    <title><![CDATA[52]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/53.jpg"
	thumbURL="thumbs/53.jpg"
	linkURL="images/53.jpg"
	linkTarget="_blank">
    <title><![CDATA[53]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/54.jpg"
	thumbURL="thumbs/54.jpg"
	linkURL="images/54.jpg"
	linkTarget="_blank">
    <title><![CDATA[54]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/55.jpg"
	thumbURL="thumbs/55.jpg"
	linkURL="images/55.jpg"
	linkTarget="_blank">
    <title><![CDATA[55]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/56.jpg"
	thumbURL="thumbs/56.jpg"
	linkURL="images/56.jpg"
	linkTarget="_blank">
    <title><![CDATA[56]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/57.jpg"
	thumbURL="thumbs/57.jpg"
	linkURL="images/57.jpg"
	linkTarget="_blank">
    <title><![CDATA[57]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/58.jpg"
	thumbURL="thumbs/58.jpg"
	linkURL="images/58.jpg"
	linkTarget="_blank">
    <title><![CDATA[58]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>