<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	maxImageWidth="1280"
	maxImageHeight="800"
	imageQuality="80"
	thumbWidth="85"
	thumbHeight="85"
	thumbQuality="90"
	useFlickr="false"
	resizeOnImport="true"
	cropToFit="false"
	galleryTitle="Tsinghua Part 2"

>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/34.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/thumbs/34.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/34.jpg"
	linkTarget="_blank">
    <title><![CDATA[34]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/35.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/thumbs/35.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/35.jpg"
	linkTarget="_blank">
    <title><![CDATA[35]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/36.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/thumbs/36.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/36.jpg"
	linkTarget="_blank">
    <title><![CDATA[36]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/37.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/thumbs/37.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/37.jpg"
	linkTarget="_blank">
    <title><![CDATA[37]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/38.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/thumbs/38.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/38.jpg"
	linkTarget="_blank">
    <title><![CDATA[38]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/39.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/thumbs/39.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/39.jpg"
	linkTarget="_blank">
    <title><![CDATA[39]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/40.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/thumbs/40.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/40.jpg"
	linkTarget="_blank">
    <title><![CDATA[40]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/41.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/thumbs/41.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/41.jpg"
	linkTarget="_blank">
    <title><![CDATA[41]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/42.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/thumbs/42.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/42.jpg"
	linkTarget="_blank">
    <title><![CDATA[42]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/43.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/thumbs/43.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/43.jpg"
	linkTarget="_blank">
    <title><![CDATA[43]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/44.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/thumbs/44.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/44.jpg"
	linkTarget="_blank">
    <title><![CDATA[44]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/45.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/thumbs/45.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/45.jpg"
	linkTarget="_blank">
    <title><![CDATA[45]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/46.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/thumbs/46.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/46.jpg"
	linkTarget="_blank">
    <title><![CDATA[46]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/47.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/thumbs/47.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/47.jpg"
	linkTarget="_blank">
    <title><![CDATA[47]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/48.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/thumbs/48.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/48.jpg"
	linkTarget="_blank">
    <title><![CDATA[48]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/49.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/thumbs/49.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/49.jpg"
	linkTarget="_blank">
    <title><![CDATA[49]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/50.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/thumbs/50.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/50.jpg"
	linkTarget="_blank">
    <title><![CDATA[50]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/51.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/thumbs/51.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/51.jpg"
	linkTarget="_blank">
    <title><![CDATA[51]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/52.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/thumbs/52.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/52.jpg"
	linkTarget="_blank">
    <title><![CDATA[52]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/53.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/thumbs/53.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/53.jpg"
	linkTarget="_blank">
    <title><![CDATA[53]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/54.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/thumbs/54.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/54.jpg"
	linkTarget="_blank">
    <title><![CDATA[54]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/55.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/thumbs/55.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/55.jpg"
	linkTarget="_blank">
    <title><![CDATA[55]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/56.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/thumbs/56.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/56.jpg"
	linkTarget="_blank">
    <title><![CDATA[56]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/57.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/thumbs/57.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/57.jpg"
	linkTarget="_blank">
    <title><![CDATA[57]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/58.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/thumbs/58.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/Tsinghua2/images/58.jpg"
	linkTarget="_blank">
    <title><![CDATA[58]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>