<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	maxImageWidth="1280"
	maxImageHeight="800"
	imageQuality="80"
	thumbWidth="85"
	thumbHeight="85"
	thumbQuality="90"
	useFlickr="false"
	resizeOnImport="true"
	cropToFit="false"
	galleryTitle="Forbidden City"

>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/01.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/thumbs/01.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/01.jpg"
	linkTarget="_blank">
    <title><![CDATA[01]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/02.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/thumbs/02.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/02.jpg"
	linkTarget="_blank">
    <title><![CDATA[02]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/03.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/thumbs/03.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/03.jpg"
	linkTarget="_blank">
    <title><![CDATA[03]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/04.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/thumbs/04.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/04.jpg"
	linkTarget="_blank">
    <title><![CDATA[04]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/05.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/thumbs/05.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/05.jpg"
	linkTarget="_blank">
    <title><![CDATA[05]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/06.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/thumbs/06.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/06.jpg"
	linkTarget="_blank">
    <title><![CDATA[06]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/07.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/thumbs/07.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/07.jpg"
	linkTarget="_blank">
    <title><![CDATA[07]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/08.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/thumbs/08.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/08.jpg"
	linkTarget="_blank">
    <title><![CDATA[08]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/09.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/thumbs/09.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/09.jpg"
	linkTarget="_blank">
    <title><![CDATA[09]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/10.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/thumbs/10.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/10.jpg"
	linkTarget="_blank">
    <title><![CDATA[10]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/11.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/thumbs/11.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/11.jpg"
	linkTarget="_blank">
    <title><![CDATA[11]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/12.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/thumbs/12.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/12.jpg"
	linkTarget="_blank">
    <title><![CDATA[12]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/13.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/thumbs/13.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/13.jpg"
	linkTarget="_blank">
    <title><![CDATA[13]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/14.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/thumbs/14.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/14.jpg"
	linkTarget="_blank">
    <title><![CDATA[14]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/15.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/thumbs/15.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/15.jpg"
	linkTarget="_blank">
    <title><![CDATA[15]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/16.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/thumbs/16.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/16.jpg"
	linkTarget="_blank">
    <title><![CDATA[16]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/17.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/thumbs/17.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/17.jpg"
	linkTarget="_blank">
    <title><![CDATA[17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/18.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/thumbs/18.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/18.jpg"
	linkTarget="_blank">
    <title><![CDATA[18]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/19.jpg"
	thumbURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/thumbs/19.jpg"
	linkURL="https://dn-qingpei-gallery.qbox.me/ForbiddenCity/images/19.jpg"
	linkTarget="_blank">
    <title><![CDATA[19]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>